/* Navbar CSS */

nav {
  height: 3.5rem;
  background-color: var(--charcoal) !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-brand {
  color: white;
  /* color: var(--slate-black); */
  margin: 0 0.7rem;
  font-size: 18px;
}

.toggler {
  border: none;
}

/* Buttons and Input CSS */

.input,
.round-button,
.square-button,
textarea {
  padding: 5px 10px;
  margin: 4px auto;
  border: 2px solid var(--dark-grey);
  border-radius: 0.5rem;
  width: 100%;
}

.round-button {
  background-color: var(--primary);
  color: white;
  align-items: center;
  justify-content: center;
  transition: background 0.4s, border-radius 0.4s;
}

.round-button:hover {
  background: var(--white);
  color: var(--primary);
  transition: background 0.4s, border-radius 1s;
  border: 2px solid rgba(30, 61, 107, 0.95);
  border-radius: 2rem;
}

.square-button {
  background-color: white;
  color: var(--primary);
}

.input,
textarea {
  background-color: rgba(255, 255, 255, 0.95);
}

.input:focus,
textarea:focus {
  outline-width: 1px;
}

.bg-white {
  background-color: white;
  color: var(--primary);
}

/* Dropdown CSS */

.dd-wrapper-multi {
  min-width: 200px;
  width: fit-content;
  max-width: 400px;
  margin: 4px auto;
}

.dd-wrapper-single {
  min-width: 120px;
  width: fit-content;
  margin: 4px auto;
}

.filler-text {
  background-color: #fff6c9;
  border-radius: 7px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.8rem 0;
  text-align: center;
}

.preference-col {
  justify-content: space-between;
}

/* Suggest course plan courses preference table */
.preference-table {
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.preference-table-th {
  border: none;
  padding: 0.5rem 1rem;
  text-align: left;
}

.preference-table-th:nth-child(n+3) {
  width: 10%;
}

.preference-table-th:nth-child(1) {
  border-radius: .5rem 0 0 0;
}

.preference-table-th:nth-last-child(1) {
  border-radius: 0 .5rem 0 0;
}

.preference-table-td {
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  border-bottom: 1px solid #ddd;
}

.preference-table-td:nth-child(n+3) {
  padding-left: 0.5rem;
}

.preference-table-tr:hover {
  background-color: transparent;
}

#icon {
  padding: 0 1rem;
  height: fit-content;
}

#icon:hover {
  background: #727a8811;
}

/* BrowseSearchbar */
.advancedButton {
  background-color: transparent;
  border: none;
  margin-right: 3rem;
  font-size: 14px;
}

.advancedButton:hover {
  text-decoration: underline;
}

.advancedFilters {
  height: auto;
}

.filter-span-reg {
  margin-right: 0.7rem;
}

.filter-span {
  width: 95px;
}

.trends-span {
  padding-right: 0.2rem;
}

.filter-component {
  width: 150px;
  margin-right: 1.5rem;
}


/* Pagination CSS */
.page-link {
  color: var(--primary);
}

.page-link:hover {
  background-color: rgba(197, 197, 197, 0);
  color: var(--primary);
}

.page-item.active .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
}


/* Extras */
.parent {
  position: relative;
}

.checkmark {
  position: absolute !important;
  top: calc(50% - 75px);
  left: calc(50% - 48px);
  z-index: 2;
}

.loading {
  position: absolute !important;
  top: calc(50% - 50px);
  left: calc(50% - 60px);
  z-index: 2;
}