/* Navbar CSS */

nav {
  height: 3.5rem;
  /* background-color: transparent; */
  background-color: var(--charcoal) !important;
}

.navbar-dark .navbar-nav .nav-link, .navbar-brand {
  color: white;
  /* color: var(--slate-black); */
  margin: 0 0.7rem;
  font-size: 18px;
}

.toggler {
  border: none;
}
.container {
  background-color: #fffffe;
  min-height: calc(100vh - 4rem);
}

/* Buttons and Input CSS */

.input, .round-button, .square-button, textarea {
  padding: 5px 10px;
  margin: 4px auto;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  width: 100%;
}

.round-button {
  background-color: var(--primary);
  color: white;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, border-radius 0.3s;
}

.round-button:hover {
  background: var(--white);
  color: var(--primary);
  transition: background 0.3s, border-radius 1s;
  border: 2px solid rgba(30, 61, 107, 0.95);
  border-radius: 2rem;
}

.square-button {
  background-color: white;
  color: var(--primary);
}

.input, textarea {
  background-color: rgba(255, 255, 255, 0.95);
}

.input:focus, textarea:focus {
  outline: none;
}

/* Dropdown CSS */

.dd-wrapper-multi {
  min-width: 200px;
  width: fit-content;
  max-width: 400px;
  margin: 4px auto;
}
.dd-wrapper-single {
  min-width: 120px;
  width: fit-content;
  margin: 4px auto;
}


/* BrowseSearchbar */
.advancedButton {
  /* padding-top: 1.2rem; */
  background-color: transparent;
  border: none;
  width: fit-content;
  font-size: 14px;
}

.advancedButton:hover{
  text-decoration: underline;
}

.advancedFilters{
  height: auto;
  /* padding: 0.5rem; */
  /* background-color: var(--grey); */
}

.filter-span-reg {
  margin-right: 0.7rem;
}
.filter-span {
  width: 90px;
  /* font-size: 14px !important; */
}
.filter-component {
  width: 150px;
  margin-right: 1.5rem;
}

.add-student-reg {
  margin-right: 0.7rem;
}

.add-student {
  width:90px;
}

.add-student-col {
  width: 130px;
}

/* Pagination CSS */
.page-link {
  color: var(--primary);
}
.page-link:hover {
  background-color: rgba(197, 197, 197, 0);
  color: var(--primary);
}
.page-item.active .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
}


/* Extras */
.parent {
  position: relative;
}
.checkmark {
  position: absolute !important;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}
.loading {
  position: absolute !important;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}
