@import '~bootstrap/dist/css/bootstrap.css';
:root {
  --slate-black: #2F323A;
  /*344055*/
  --charcoal: #344055;
  --primary: #094067;
  --secondary: #90b4ce;
  --dark-blue: #223E6E;
  --white: #fffffe;
  --light: #d8eefe;
  --dark: #5f6c7b;
  --dark-blue-70o: rgba(34, 62, 110, 0.7);
  --light-blue: #91B3ED;
  --med-blue: #325AA1;
  --off-white: rgb(246, 248, 248);
  --grey: rgb(215, 221, 226);
  --dark-grey: #5f6c7b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}


/* Tag styling CSS */
a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

h1 {
  margin-top: 1.5rem;
  font-size: 32px;
}

h3 {
  font-size: 24px;
  border-bottom: 2px solid var(--dark-blue-70o);
}

h4 {
  border-bottom: 2px solid var(--grey);
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 10px;
  text-align: center;
  color: var(--primary);
}


/* Table styling CSS */
table {
  margin-bottom: 0.5rem;
  width: 100%;
}
th {
  border: none;
  background-color: var(--light);
  color: var(--slate-black);
  padding: 0.5rem;
  text-align: center;
}
td {
  padding: .2rem;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #727a8811;
}

.padleft {
  padding-left: 1rem;
}

textarea {
  display: block;
  resize: none;
  overflow: auto;
  height: 130px;
}


/* Display CSS */
.flex-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}
.center {
  text-align: center;
}
.lr-padding {
  padding: 0 0.5rem 0 0.5rem;
}
.ud-padding {
  padding: 0.5rem 0 0.5rem 0;
}
.all-padding {
  width:150px;
  padding: 0.25rem 0.5rem;
}

.error {
  color: #a8201a;
}
.center-span {
  display: table;
  margin: 0 auto;
}

i.fa {
  line-height: 3rem; 
  /* float: right; */
  color: rgba(52, 64, 85, 0.85);
  margin-right: 0;
}

.container {
  background-color: #fffffe;
  min-height: calc(100vh - 4rem);
  padding: 0 2rem;
}

.inputContainer i {
  position: absolute;
  transform: translateX(-40px);
}


.information_box {
  position: relative;
  width: 100%;
  border: 1.2px solid;
  min-height: 75vh;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Color CSS */
.req-state {
  vertical-align: middle;
  display: table-cell;
  padding-left: 0.5rem;
  padding-right: 3rem;
}
.color-box {
  width: 30px;
  height: 30px;
  /* display: inline-block; */
  vertical-align: middle;
  display: table-cell;
}
.green {
  background-color: #80FFC2;
}
.yellow {
  background-color: #FFF0A4;
}
.red {
  background-color: #FFAAAA;
}


/* Media queries CSS */
@media (max-width: 1000px) {
  .navbar-collapse {
    padding-top: 0.3rem;
    z-index: 10;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: var(--primary) !important;
    margin-left: auto !important;
  }
}