.landing-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /* background-color: #232946; */
  z-index: -1;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-svg svg {
  position: absolute;
  left: 0;
  width:100vw;
  height: 100vh;
  z-index: -1;
}

hr.login-title {
  overflow: visible; /* For IE */
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: center;
  margin: 2rem 0;
}
hr.login-title:after {
  content: "login";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  padding: 0 1rem;
  background: white;
}
/* Login box */

.login-box-top {
  position: relative;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, .1) url(https://theaeac.org/wp-content/uploads/2019/09/stony-brook-1024x405.jpg) no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: 150%;
  padding-bottom: 15%;
  margin-bottom: 1.25rem;
  opacity: 0.8;
}

.login-heading {
  margin-left: 7%;
  margin-top: 7%;
  line-height: 1.5;
  font-size: 3rem;
  color: white
}
.login-heading small {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: .5rem;
}

.login-box {
  width: 100%;
  max-width: 500px;
  background-color: var(--white);
  border-radius: .7rem;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 1rem 1rem 2rem 1rem;
}

.login-item {
  margin: 0 1.5rem .5rem 1.5rem;
  text-align: center;
  font-weight: 800;
}

.users {
  width: 50%;
  border: 3px solid var(--primary);
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: background 600ms ease, color 600ms ease;
  font-size: 13pt;
  font-weight: 550;
}
.toggle {
  display: none;
}
.toggle + .users:hover {
  background: none;
  color: var(--primary);
}
.toggle + .users:after {
  background: #1a1a1a;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  /* transition: left 5s cubic-bezier(0.77, 0, 0.175, 1); */
}
.toggle-left + .users {
  border-right: 0;
}
.toggle-left:after + .users {
  left: 100%
}
.toggle-right:after + .users {
  left: -100%;
}

.toggle:checked + .users {
  cursor: default;
  color: #fff;
  transition: color 200ms;
  background: var(--primary);
}
.toggle:checked:after .users {
  left: 0;
}

.gpd {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
.student {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
