.landing-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #232946;
  z-index: -1;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-wave-svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Login box */

.login-box-top {
  height: 250px;
  width: calc(100% + 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-3rem, -4rem);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-bottom: -2.5rem;
  background: rgba(0, 0, 0, .1) url(https://theaeac.org/wp-content/uploads/2019/09/stony-brook-1024x405.jpg) no-repeat;
  background-position: center;
  opacity: 0.8;
  /* background-size: cover;
  background-blend-mode: darken; */
}

.welcome, .landing-title {
  color: var(--white);
  text-align: center;
}

.welcome {
  font-size: 35pt;
  font-weight: 900;
}

.landing-title {
  font-size: 20pt;
  font-weight: 400;
}

.login-box {
  min-width: 50%;
  max-width: 750px;
  /* height: 40%; */
  background-color: var(--white);
  border-radius: 1rem;
  padding: 4rem 3rem 3rem 3rem;
}

.user-slider {
  height: 3rem;
  background-color: var(--secondary);
  color: white;
  font: 18pt bold;
  border-radius: 1.5rem;
  width: 100%;
  cursor: pointer;
  margin: 1rem 0;
}

.login-item {
  margin-top: 0;
  margin-bottom: 0.5rem !important;
  text-align: center;
  font-weight: 800;
}

.users {
  width: 100%;
  z-index: 1;
  font-weight: 500;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.gpd {
  margin-left: 20%;
  font-size: 16pt;
  transform: translate(0, -3rem);
}

.student {
  margin-left: 35%;
  font-size: 16pt;
  transform: translate(0, -3rem);
}

.gpd-selected {
  background-color: var(--primary);
  width: calc((750px /2) - 4rem);
  width: 50%;
  height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  text-align: center;
  line-height: 3rem;
}

.student-selected {
  background-color: var(--primary);
  width: 50%;
  height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  text-align: center;
  line-height: 3rem;
  transform: translateX(100%);
}
