

/* Navbar CSS */
nav {
    height: 3.5rem;
    background-color: var(--dark-blue) !important;
}

.nav-link, .navbar-brand {
    color: white !important;
    margin: 0 0.7rem;
}
.navbar-brand {
    margin-left: 5vw;
}

.toggler {
    border: none;
}

/* Buttons and Input CSS */

.input, .round-button {
    font-size: 16px;
    padding: 7px 10px;
    margin: 7px auto;
    border: 2px solid var(--dark-blue);
    border-radius: 2rem;
    width: 100%;
}
.round-button {
    background-color: var(--dark-blue);
    color: white;
    align-items: center;
    justify-content: center;
}
.round-button:hover {
    background: rgba(30, 61, 107, 0.95);
    border: 2px solid rgba(30, 61, 107, 0.95);
}
.square-button {
    font-size: 16px;
    padding: 7px 10px;
    margin: 7px auto;
    border: 2px solid var(--dark-blue);
    border-radius: 0.5rem;
    width: 100%;
    background-color: white;
    color: var(--dark-blue);
}
.input {
    background: rgba(255, 255, 255, 0.3);
}
.input:focus {
    outline: none;
}



/* Login box */

.loginBox {
    margin-top: 20%;
    margin-left: 10%;
    width: 450px;
    height: 430px;
    background-color: #FFFFFF;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.45); 
    box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.35);
}

.login-tabs{
    flex-grow:10;
}

.skills-tab{
    column-span: 6;
    flex-grow:10;
    text-align: center;
}
/* Dropdown CSS */
.dd-wrapper {
    width: 200px;
}
.dd-list {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    padding: 0;
    transform: translateY(-7px);
    transition: max-height .3s ease-out;
    max-height: 0;
}
.dd-list-active {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding: 0;
    transform: translateY(-7px);
    max-height: 200px;
    transition: max-height .3s ease-in;
}
.dd-list::-webkit-scrollbar {
    display: none;
}
.dd-list-active::-webkit-scrollbar {
    display: none;
}
.dd-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: background 0.5s;
    padding: 0.5rem;
    color: var(--dark-blue);
    width: 200px;
}
.dd-item:hover {
    background-color: rgba(30, 61, 107, 0.1);
}
