

/* Navbar CSS */
nav {
    height: 3.5rem;
    background-color: var(--dark-blue) !important;
}

.nav-link, .navbar-brand {
    color: white !important;
    margin: 0 0.7rem;
}
.navbar-brand {
    margin-left: 5vw;
}

.toggler {
    border: none;
}

/* Buttons and Input CSS */

.input, .round-button {
    font-size: 16px;
    padding: 7px 10px;
    margin: 7px auto;
    border: 2px solid var(--dark-blue);
    border-radius: 2rem;
    width: 100%;
}
.round-button {
    background-color: var(--dark-blue);
    color: white;
    align-items: center;
    justify-content: center;
}
.round-button:hover {
    background: rgba(30, 61, 107, 0.95);
    border: 2px solid rgba(30, 61, 107, 0.95);
}
.square-button {
    font-size: 16px;
    padding: 7px 10px;
    margin: 7px auto;
    border: 2px solid var(--dark-blue);
    border-radius: 0.5rem;
    width: 100%;
    background-color: white;
    color: var(--dark-blue);
}
.input {
    background: rgba(255, 255, 255, 0.3);
}
.input:focus {
    outline: none;
}

/* Dropdown CSS */
.dd-wrapper {
    width: 200px;
}
.dd-list {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    padding: 0;
    transform: translateY(-7px);
    transition: max-height .3s ease-out;
    max-height: 0;
}
.dd-list-active {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding: 0;
    transform: translateY(-7px);
    max-height: 200px;
    transition: max-height .3s ease-in;
}
.dd-list::-webkit-scrollbar {
    display: none;
}
.dd-list-active::-webkit-scrollbar {
    display: none;
}
.dd-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: background 0.5s;
    padding: 0.5rem;
    color: var(--dark-blue);
    width: 200px;
}
.dd-item:hover {
    background-color: rgba(30, 61, 107, 0.1);
}



/* Login box */

.login-box {
    width: 500px;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    border: 2px solid var(--dark-blue);
}
.user-slider {
    height: 2rem;
    background-color: var(--light-blue);
    padding: 1.75rem;
    color: white;
    font: 18pt bold;
    border-radius: 1.8rem;
    width: 100%;
    cursor: pointer;
    margin: 0.5rem 0;
}
.login-item {
    margin-top: 0;
    margin-bottom: 0.6rem !important;
}
.users {
    position: absolute;
    z-index: 10;
    font-weight: 500;
    cursor: pointer;
}
.gpd {
    margin-left: 3rem;
}
.student {
    margin-left: 9rem;
}
.gpd-selected {
    position: absolute;
    background-color: var(--dark-blue);
    width: calc((500px - 4rem) / 2);
    height: 3.5rem;
    border-radius: 1.8rem;
    cursor: pointer;
    text-align: center;
    line-height: 3.5rem;
    transform: translateX(-2rem);
    transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.student-selected {
    position: absolute;
    background-color: var(--dark-blue);
    width: calc((500px - 4rem) / 2);
    height: 3.5rem;
    border-radius: 1.8rem;
    cursor: pointer;
    text-align: center;
    line-height: 3.5rem;
    transform: translateX(calc((500px - 8rem) / 2));
    transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}



