/* Navbar CSS */

nav {
  height: 3.5rem;
  background-color: var(--charcoal) !important;
}

.navbar-dark .navbar-nav .nav-link, .navbar-brand {
  color: white;
  margin: 0 0.7rem;
  font-size: 16px;
}

.toggler {
  border: none;
}

/* Buttons and Input CSS */

.input, .round-button, .square-button {
  padding: 5px 10px;
  margin: 4px auto;
  border: 2px solid var(--charcoal);
  border-radius: 0.5rem;
  width: 100%;
}

.round-button {
  background-color: var(--charcoal);
  color: white;
  align-items: center;
  justify-content: center;
}

.round-button:hover {
  background: rgba(30, 61, 107, 0.95);
  border: 2px solid rgba(30, 61, 107, 0.95);
}

.square-button {
  background-color: white;
  color: var(--charcoal);
}

.input {
  background-color: rgba(255, 255, 255, 0.95);
}

.input:focus {
  outline: none;
}

/* Dropdown CSS */

.dd-wrapper-multi {
  min-width: 200px;
  width: fit-content;
  max-width: 400px;
  margin: 4px auto;
}
.dd-wrapper-single {
  min-width: 120px;
  width: fit-content;
  margin: 4px auto;
}


/* BrowseSearchbar */
.advancedButton {
  /* padding-top: 1.2rem; */
  background-color: transparent;
  border: none;
  width: fit-content;
  font-size: 14px;
}

.advancedButton:hover{
  text-decoration: underline;
}

.advancedFilters{
  height: auto;
  /* padding: 0.5rem; */
  /* background-color: var(--grey); */
}

.filter-span-reg {
  margin-right: 0.7rem;
}
.filter-span {
  width: 90px;
  /* font-size: 14px !important; */
}
.filter-component {
  width: 150px;
  margin-right: 1.5rem;
}

.studentTable {
  margin-left: 0.25rem;
}



/* Extras */
.parent {
  position: relative;
}
.checkmark {
  position: absolute !important;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}
.loading {
  position: absolute !important;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}

