@import '~bootstrap/dist/css/bootstrap.css';
:root {
  --slate-black: #2F323A;
  --charcoal: #344055;
  --dark-blue: rgb(30, 61, 107);
  --light-blue: rgb(72, 123, 189);
  --off-white: rgb(246, 248, 248);
  --grey: rgb(215, 221, 226);
  --dark-grey: #727A88;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

h1 {
  margin-top: 1.5rem;
}

h4 {
  /* margin-top: 1rem; */
  border-bottom: 2px solid var(--grey);
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 10px;
  text-align: center;
  color: white;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  justify-content: flex-start;
}

.error {
  color: #a8201a;
}

i.fa {
  line-height: inherit;
}

.icon {
  padding: 15px;
  color: rgb(49, 0, 128);
  width: 70px;
  text-align: left;
}

.inputContainer i {
  position: absolute;
  transform: translateX(-40px);
}

.landing-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /* width: 50%; */
  background-color: var(--charcoal);
  z-index: -1;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-left-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.landing-right-svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.information_box{
  position: relative;
  left: 0%;
  width: 96%;
  border: 1.2px solid;
  min-height: 75vh;
  background-color: white;
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
}