@import '~bootstrap/dist/css/bootstrap.css';

:root {
  --dark-blue: rgb(30, 61, 107);
  --off-white: rgb(246, 248, 248);
}


* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  background-color: red !important;
}
