@import '~bootstrap/dist/css/bootstrap.css';
:root {
  --slate-black: #2F323A;
  --charcoal: #344055;
  --dark-blue: rgb(30, 61, 107);
  --light-blue: rgb(72, 123, 189);
  --off-white: rgb(246, 248, 248);
  --grey: rgb(215, 221, 226);
  --dark-grey: #727A88;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

h1 {
  margin-top: 1.5rem;
}

h4 {
  border-bottom: 2px solid var(--grey);
  width: 100%;
}

th {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: #D7DDE2;
  padding: 0.5rem;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 10px;
  text-align: center;
  color: white;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.error {
  color: #a8201a;
}
.center-span {
  display: table;
  margin: 0 auto;
}


i.fa {
  line-height: 3.2rem; 
  float: right;
  color: var(--charcoal);
  margin-right: 0;
}

/* .icon {
  padding: 15px;
  color: rgb(49, 0, 128);
  width: 70px;
  text-align: left;
} */

.inputContainer i {
  position: absolute;
  transform: translateX(-40px);
}


.information_box, .student_box{
  position: relative;
  left: 0%;
  width: 100%;
  border: 1.2px solid;
  min-height: 75vh;
  background-color: white;
  display: inline-block;
  overflow: auto;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .navbar-collapse {
    z-index: 10;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: var(--charcoal) !important;
    margin-left: auto !important;
  }
}