.landing-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--charcoal);
  z-index: -1;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-wave-svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Login box */

.login-box-top {
  height: 20%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate3d(-2rem, -2rem, 0);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-bottom: -1rem;
  background: rgba(0, 0, 0, .4) url(https://theaeac.org/wp-content/uploads/2019/09/stony-brook-1024x405.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

.welcome, .landing-title {
  color: white;
  text-align: center;
}

.welcome {
  font-size: 35pt;
  font-weight: 900;
}

.landing-title {
  font-size: 20pt;
  font-weight: 400;
}

.login-box {
  width: 500px;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
}

.user-slider {
  height: 2rem;
  background-color: var(--dark-grey);
  padding: 1.5rem;
  color: white;
  font: 18pt bold;
  border-radius: 1.5rem;
  width: 100%;
  cursor: pointer;
  margin: 1rem 0 0.5rem 0;
}

.login-item {
  margin-top: 0;
  margin-bottom: 0.1rem !important;
  text-align: center;
  font-weight: 800;
}

.users {
  position: absolute;
  z-index: 10;
  font-weight: 500;
  cursor: pointer;
}

.gpd {
  margin-left: 3rem;
}

.student {
  margin-left: 9rem;
}

.gpd-selected {
  position: absolute;
  background-color: var(--charcoal);
  width: calc((500px - 3rem) / 2);
  height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  text-align: center;
  line-height: 3rem;
  transform: translateX(-1.5rem);
  transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.student-selected {
  position: absolute;
  background-color: var(--charcoal);
  width: calc((500px - 3rem) / 2);
  height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  text-align: center;
  line-height: 3rem;
  transform: translateX(calc((500px - 8rem) / 2));
  transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
